<div class="row">
  <div class="col text-center">
    <!--اضف صورة هنا في حالة عدم وجود كتب-->   
  </div>
</div>
</div>    
</div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<footer class="main-footer ">
  <strong>Copyright &copy; 2024 <a target="_blank" href="https://www.linkedin.com/in/omar-muhammed-9a7428285/">Omar Muhammed</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" class="text-warning" href="https://www.instagram.com/omar.muhamed_/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
  </div>
</footer>